@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.ChatWindow{
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 100%;
}


.Chat{
  flex-direction: column;
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 100%;
}