@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.ChatContent {
  // max-width: 700px;
  // width: 100%;
  padding: 0 10px;
  // margin: 0 auto;
  flex: 1 1 auto;
  overflow-x: auto;
}

.wrapper {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
}

.message {
  display: flex;
  margin-bottom: 20px;
}

.content {
  flex-direction: column;
  width: fit-content;
  max-width: 460px;
  display: flex;
}

.messageText {
  background-color: $c-darkBlue;
  color: $c-white;
  margin-bottom: 10px;
  border-radius: 25px;
  width: fit-content;
  padding: 16px;
}

.personImg {
  align-self: flex-start;
  @include flexCenter;
  margin-right: 20px;
  max-width: 50px;
  padding: 20px 0;
  @include media('<=phone') {
    margin-right: 5px;
  }
}

.photo {
  border-radius: 50%;
}

.date {
  padding: 0 20px;
}

.answear {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.answearText {
  background-color: $c-Cultured;
  color: $c-black;
}

.answearDate {
  align-self: flex-end;
}
