@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.Sidebar {
  border-right: 2px solid $c-CharlestonGreen;
  transition: $t-normal;
  width: 500px;
  height: 100%;
  @include media('<=desktop') {
    display: none;
  }
}

.showSideBar {
  background-color: $c-white;
  transition: $t-normal;
  position: absolute;
  display: block;
  width: 500px;
  z-index: 2;
  
  @include media('<=tablet') {
    width: 480px;
    
  }
  @include media('<=phone') {
    width: 320px;
  }
}

.sideBarContent {
  @include media('<=desktop') {
    display: none;
  }
}

.showSideBarContetn {
  display: block;
}
